@import '../../../../theme/variables';

ion-card{
  height: auto;
  // background: none !important;
  color: $tertiary !important;

  .div-avatar{
    width: 100% !important;
    position: relative;

    ion-avatar{
      width: 100% !important;
      height: auto;
    }

    .emblem-color{
      width: 100% !important;
      position: absolute;
      bottom: 10px;

      ion-img{
        width: 20% !important;
        height: auto;
      }
    }
  }

  .circle{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 1px solid #FAFAFA;
  }
}

.emblem-image-card{
  width: 45%;
}

.emblem-info-card{
  width: 90%;
}

