@import '../../../../theme/variables.scss';

:host{
  width: 100%;

  ion-card {
    margin: 0 auto;

    ion-card-header{
      background: #649CD9; // $sixtiary;
      height: 50px;

      &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 50%;
        top: 0px;
        left: 0px;
        background: rgba(255, 255, 255, 0.1);
      }

      ion-card-title{
        text-align: start;
        // text-shadow: 1px 1px 2px black;
      }
    }

    ion-range{
      --bar-background-active: #FC8A1D !important;
    }
  }

  .div-image{
    width: 33%;
    margin-top: 20px;
    margin-bottom: 20px;

    >span{
      text-align: center;
      width: 100%;
    }
  }

}
