@import '../../../../theme/variables.scss';

:host{
  width: 100%;
  margin: 0 auto;

  ion-card{
    margin: 0 auto;

    .pokemon-element{
      width: 20%;
      padding: 5px;
      margin: 5px;
      @include displays_center;
      background: linear-gradient(50deg, $primary 50%, $sixtiary 50%);
      font-size: 10px;
      border-radius: 5px;
      min-height: 60px;
      position: relative;
      overflow: hidden;

      .ion-card-pokeball{
        position: absolute;
        width: 3em;
        height: 3em;
        bottom: -7px;
        left: -3px;
        border-radius: 50%;
        background: none;
        overflow: hidden;
        transform: rotate(-20deg);
        z-index: 1;

        &:before{
          content: "";
          position: absolute;
          width: 100%;
          height: 47%;
          background: rgba(255, 255, 255, 0.1);
        }

        &:after{
          content: "";
          position: absolute;
          top: 56%;
          width: 100%;
          height: 55%;
          background: rgba(255, 255, 255, 0.1);
        }

        .ion-card-pokeball-circle{
          position: absolute;
          width: 1em;
          height: 1em;
          border-radius: 50%;
          margin-left: 50%;
          margin-top: 35%;
          background: rgba(255, 255, 255, 0.1) !important;
          z-index: 1;
        }
      }

      .marker{
        position: absolute;
        top: 0;
        right: 0;
      }
    }


  }

}

