@import '../../../../theme/variables.scss';


.empty-header{
  height: 250px !important;
}

.pokemon-principal-image{
  // width: 80%;
  // height: auto;
  width: 17em;
  height: 17em;
  margin-top: -150px;
  // border: 5px solid $primary;
  // border: 5px solid $secondary;
  // border: 5px solid $fourtiary;
}

.attack {
  background:  $sixtiary;
}

ion-segment{
  padding-top: 20px;
  width: 100%;

  ion-segment-button {
    // --background-checked: red;
    --color-checked: #724ABC;
  }
}
