@import '../../../../theme/variables.scss';


.empty-header{
  height: 250px !important;
}

.build-principal{
  width: 17em;
  height: 17em;
  margin-top: -150px;

}

.attack {
  background: #649CD9;
}

// ion-range{
//   --bar-background-active: #FC8A1D !important;
// }

// .color-green{
//   color: #7FFF7F;
// }
