@import '../../../../theme/variables';

:host{
  width: 100%;
  // height: 225px;
  height: 210px;

  .slide-ion-card{
    width: 90% !important;
    // min-height: 150px;
    // height: 135px !important;
    overflow: hidden;
    border-radius: 5px;
    background: none;
    margin-bottom: 40px;
    // background: rgba(255,255,255,0.1) !important;

    img, ion-img{
      width: 90%;
      margin: 0 auto;
      height: 7em !important;
    }

    ion-img::part(image) {
      // backdrop-filter: saturate(180%) blur(10px);
      // background: rgba(255,255,255, 0.1);
      border-radius: 5px !important;
    }

    ion-card-header{
      padding-left: 0px;
      padding-right: 0px;
      height: 50px !important;
      font-size: 10px !important;
      margin-top: -5px;


      .ion-card-header-left{
        width: 75%;
      }

      .ion-card-header-rigth{
        width:20%;
      }

    }

    .div-image {
      height: 100px;
      border-radius: 5px;
    }

    .div-p{
      height: 20px;
      // margin-bottom: 10px;
    }

    .div-image, .div-p{
      width: 100%;
      // background: radial-gradient($primary, transparent);
      // background: linear-gradient(30deg, $primary 50%, $sixtiary 50%);
      background: $primary;
      box-shadow: 1px 1px 5px black !important;
      position: relative;

      &:after{
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4) , transparent);
        animation: loading 1s infinite;
      }
    }

    .mat-card-header{
      width: 100%;
      border-radius: 5px !important;
      position: relative;
    }

    .card-content{
      padding: 15px;

      >p{
        font-size: 1.5em;
        border-spacing: 20px;
        line-height: initial;
        color: $eighthiary;
        // color: ;
      }
    }

  }

  @keyframes loading {
    100% {
      transform: translateX(100%);
    }
  }
}

